.yasgui {
  .tabPanel {
    display: none;
    position: relative;
    &.active {
      display: block;
    }

    // Hide editor wrapper when yasr is in fullscreen
    &:has(.yasr.fullscreen) .editorwrapper {
      display: none;
    }

    // When yasqe is fullscreen, keep controlbar visible
    &:has(.yasqe.fullscreen) .controlbar {
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      z-index: 9999;
      background: white;
      border-bottom: 1px solid #ddd;
      padding: 5px;
    }
  }
  .yasr {
    margin-top: 5px;
  }

  .tabContextButton {
    border: none;
    background: none;
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    color: var(--yasgui-button-text, #505050);
    fill: var(--yasgui-button-text, #505050);
    display: flex;
    align-items: center;
    justify-content: center;

    .svgImg {
      width: 15px;
      height: 15px;
      font-family: initial; //font families can slightly misalign svgs with the .svgimg div
    }
    // IE11 Needs this specified otherwise it will not resize the svg
    svg {
      width: 20px;
      height: 20px;
    }

    &:hover {
      color: var(--yasgui-button-hover, black);
      fill: var(--yasgui-button-hover, black);
    }
  }

  .controlbar {
    display: flex;
    align-content: center;
    max-height: 35px;
  }
}
